@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d6e2f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 300px;
  background-color: #fff;
  padding: 15px 15px 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.05);
}

img {
  width: 100%;
  border-radius: 10px;
}

.text-box {
  margin: 20px 10px;
}

h1 {
  color: #1f3251;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  color: #7b879d;
  font-size: 15px;
}
